<!DOCTYPE html>
<html>

<head>
  <script type="text/javascript" src='http://code.jquery.com/jquery-1.10.2.min.js'></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
  <script src=" https://code.jquery.com/jquery-3.2.1.slim.min.js "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js ">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js">
  </script>
  <meta charset="utf-8">
  <title>Counter</title>
</head>

<body>
  <div class="container row text-center">
    <div class="col-xs-4 col-md-4">
      <h3>Counter:
      <%= count %>
        </h3>
      <a href="increment " class="btn btn-primary btn-lg active " role="button ">Count + 1</a><br>
      <a href="reset " class="btn btn-primary btn-lg danger " role="button ">Reset</a>
    </div>
  </div>
</body>


</html>
